[Unit]
Description=Event App SPA 

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=5080
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/spa_event_app/server
ExecStart=/bin/bash /home/hw07/spa_event_app/server/start.sh

[Install]
WantedBy=multi-user.target
