server {
    listen 80;
    listen [::]:80;

    # TODO: DONE(?) ->This should be your server name.
    server_name events-spa.wbdbvaustinkim.com;

    location / {
        proxy_pass http://localhost:5030;
    }

    location /api {
        proxy_pass http://localhost:5080;
    }

   location /photos {
        proxy_pass http://localhost:5080;
    }

    location /socket {
        proxy_pass http://localhost:5030;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";	 	 
    }
}
